/* Estilos globais */
body {
  background-image: url('assets/img/capa.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Adicionado para adicionar barra de rolagem vertical */
}

/* Estilos da seção de cabeçalho */
.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: 'Galano Classic';
  src: url('assets/fonts/GalanoClassic-Regular.otf') format('opentype');
}

.headline {
  font-family: "Galano Classic", sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

/* Estilos do botão de ação */
.action-button {
  background-color: #E5AC5F;
  color: black;
  padding: 20px 25px;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  display: block;
  margin: 40px auto;
  max-width: 400px;
  width: 100%;
  font-weight: bold;
  font-family: "Galano Classic", sans-serif;
}

/* Estilos dos links dos termos de uso e políticas de privacidade */
.terms-links {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.terms-links a {
  color: white;
  margin-right: 10px;
  text-decoration: underline;
  font-family: "Galano Classic", sans-serif;
}

.terms-links a:last-child {
  margin-right: 0;
}

/* Estilos do vídeo */
#video-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#video-container iframe {
  width: 800px;
  height: 450px;
}

/* Estilos do rodapé */
footer {
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  font-family: "Galano Classic", sans-serif;
  color: #ffffff;
  margin-top: 20px;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 480px) {
  body {
    background-image: url('assets/img/capa.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }

  .logo {
    max-width: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .headline {
    font-size: 22px;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
  }

  .action-button {
    padding: 3% 1%;
    font-size: 16px;
    margin: 5% auto;
    height: 5%;
    max-width: 50%;
    width: 70%;
  }

  #video-container iframe {
    width: 100%;
    height: auto;
    max-width: 80%;
    max-height: 450px;
  }
  
  .terms-links a {
    font-size: 12px;
  }
  
  footer {
    font-size: 10px;
    padding: 2%;
  }
}
