/* Configurações de layout para dispositivos móveis */
@media only screen and (max-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0; /* Remover margens padrão */
      background-color: #000000; /* Preto como cor de fundo */
    }
  
    header {
      background-color: #000000; /* Fundo preto */
      padding: 20px;
      text-align: center;
      margin-bottom: 0; /* Remover espaçamento inferior */
    }
  
    /* CSS para a logo */
    header img {
      max-width: 50%;
      height: auto;
    }
  
    /* CSS para a headline e subheadline */
    .headline {
      font-size: 18px; /* Tamanho da fonte reduzido */
      font-weight: bold;
      color: #fff; /* Cor da fonte branca */
      font-family: "Roboto", sans-serif; /* Fonte Roboto */
      margin-top: 0px; /* Espaçamento superior reduzido para 5 pixels */
      text-align: center; /* Alinhamento centralizado */
    }
  
    .subheadline {
      font-size: 12px; /* Tamanho da fonte reduzido para 12 pixels */
      color: #fff; /* Cor da fonte branca */
      font-family: "Roboto", sans-serif; /* Fonte Roboto */
    }
  
    .video-container {
      width: 100%;
      padding-top: 56.25%; /* Proporção de 16:9 (9 dividido por 16, multiplicado por 100) */
      position: relative;
      margin-top: 5px; /* Espaçamento superior para separar o vídeo do botão */
    }
  
    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    .action-button {
      display: inline-block;
      padding: 30px 60px; /* Espaçamento do botão */
      background-color: #E5AC5F; /* Cor de fundo do botão */
      color: #000000; /* Cor do texto do botão */
      text-decoration: none;
      font-family: "Roboto", sans-serif; /* Fonte Roboto */
      font-size: 15px;
      font-weight: bold; /* Fonte em negrito */
      border-radius: 5px;
      transition: background-color 0.3s ease;
      margin-top: 30px;
    }
  
    .action-button:hover {
      background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
    }
  
    .content {
      text-align: center;
      padding: 20px;
    }
  
    .responsive-image {
      width: 100%;
      height: auto;
      margin-top: 20px; /* Espaçamento superior */
    }
  
    footer {
      background-color: #f0f0f0;
      padding: 20px;
      text-align: center;
      color: #888;
      font-size: 12px;
    }
  }
